html {
  font-size: 10px;
  font-family: 'Arial', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #A7D6DC;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #E9F0F1;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #3C878F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

#placeModal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
        }

        #placeContainer {
            text-align: center;
            margin-top: 10%;
        }

        #closePlaceButton {
            cursor: pointer;
            color: #fff;
            font-size: 20px;
            position: absolute;
            top: 10px;
            right: 20px;
        }

        #accessForm {
            text-align: center;
            margin-top: 20px;
        }
